<div class="dataview-page">
    <div nz-row class="up-content" [nzGutter]="{ xs: 10, sm: 10, md: 10, lg: 10, xl: 10, xxl: 10 }">
        <div nz-col nzSpan="6" class="up-left-content">
            <dl class="rankings-list">
                <dt class="tab-btn">
                    <button nz-button class=""><i class="anticon anticon-bar-chart blue-icon"></i>收益排行</button>
                    <button nz-button><i class="anticon anticon-pie-chart orange-icon"></i>支出占比</button>
                </dt>
                <ul class="rankings-box scroll-style">
                    <li nz-row *ngFor="let item of pageData.rankingsData; let i=index;"> 
                        <span nz-col nzSpan="2">{{item.ranking}}</span>
                        <span nz-col nzSpan="8">{{item.profitType}}</span>
                        <span nz-col nzSpan="7">{{item.money}}</span>
                        <span nz-col nzSpan="7" [class.red]="item.color=='red'" [class.green]="item.color=='green'" [class.yellow]="item.color=='yellow'"><i class="anticon" 
                        [class.anticon-arrow-up]="item.color=='red'"
                        [class.anticon-arrow-down]="item.color=='green'"
                        [class.anticon-minus]="item.color=='yellow'"
                        ></i>{{item.percentage}}</span>
                    </li>
                </ul>
            </dl>
        </div>
        <div nz-col nzSpan="18" class="up-right-content">
            <div class="charts-content">
                <ul class="total-box">
                        <li *ngFor="let item of pageData.totalData; let i=index;">
                            <h3>{{item.indexNum}}</h3>
                            <div>{{item.indexType}}</div>
                        </li>
                    </ul>
                    <div class="echarts-box scroll-style">
                            <!-- <app-lineChart></app-lineChart> -->
                    <app-brokenLine></app-brokenLine>
                </div>
            </div>            
        </div>
    </div>
    <div nz-row class="down-content" [nzGutter]="{ xs: 10, sm: 10, md: 10, lg: 10, xl: 10, xxl: 10 }">
        <div nz-col nzSpan="6" class="down-left-content">
            <dl class="notice-box">
                <dt>
                    <h3>最新数据</h3>
                    <span>更多</span>
                </dt>
                <ul class="newdata-box">
                    <li nz-row *ngFor="let item of pageData.newData; let i=index;">
                        <span nz-col nzSpan="3"><i class="anticon" [class.anticon-arrow-up]="item.color=='red'"
                            [class.anticon-arrow-down]="item.color=='green'"
                            [class.anticon-minus]="item.color=='yellow'"
                            [class.red]="item.color=='red'" [class.green]="item.color=='green'" [class.yellow]="item.color=='yellow'"
                            ></i></span>
                        <span nz-col nzSpan="8">{{item.money}}</span>
                        <span nz-col nzSpan="3">{{item.percentage}}</span>
                        <span nz-col nzSpan="10">{{item.enterpriseName}}</span>
                    </li>
                </ul>
            </dl>
        </div>
        <div nz-col nzSpan="18" class="down-right-content">
            <div class="tabs-box">
                <nz-tabset [nzTabPosition]="'top'">
                    <nz-tab class="item-tab" nzTitle="数据对比">
                        <div nz-row>
                            <div nz-col nzSpan="12" class="left-blue">
                                <div class="padding-distance">
                                    <i class="anticon anticon-bar-chart blue-icon"></i> <b>本月数据</b>
                                </div>
                                <div class="padding-distance data-contrast">
                                    <dl>
                                        <dt>收益</dt>
                                        <dd>9,758.05</dd>
                                    </dl>
                                    <dl>
                                        <dt>增幅</dt>
                                        <dd>25.77%</dd>
                                    </dl>
                                    <dl>
                                        <dt>总额</dt>
                                        <dd class="blue-box">189,865.85</dd>
                                    </dl>
                                </div>
                                <div class="padding-distance step-box">
                                    <h5>业务进度</h5>
                                    <nz-progress class="blue-step" [nzPercent]="45"></nz-progress>
                                </div>
                            </div>
                            <div nz-col nzSpan="12" class="right-orage">
                                <div class="padding-distance">
                                    <i class="anticon anticon-dot-chart orange-icon"></i> <b>上月数据</b>
                                </div>
                                <div class="padding-distance data-contrast">
                                        <dl>
                                            <dt>收益</dt>
                                            <dd>7,850.65</dd>
                                        </dl>
                                        <dl>
                                            <dt>增幅</dt>
                                            <dd>22.48%</dd>
                                        </dl>
                                        <dl>
                                            <dt>总额</dt>
                                            <dd class="orange-box">159,528.16</dd>
                                        </dl>
                                </div>
                                <div class="padding-distance step-box">
                                    <h5>业务进度</h5>
                                    <nz-progress class="orange-step" [nzPercent]="35"></nz-progress>
                                </div>
                            </div>
                        </div>
                    </nz-tab>
                    <nz-tab class="item-tab" nzTitle="数据分析">
                        <div nz-row class="chart-box">
                            <div nz-col nzSpan="12" class="left-chart">
                                <!-- 两个饼图 -->
                                <div nz-row class="pie-chart">
                                    <div nz-col nzSpan="12" class="pie-1 pie-echarts">
                                        <app-pieChart [pieData]="pageData.pieData1"></app-pieChart>
                                    </div>
                                    <div nz-col nzSpan="12" class="pie-2 pie-echarts">
                                        <app-pieChart [pieData]="pageData.pieData2"></app-pieChart>
                                    </div>
                                </div>
                            </div>
                            <div nz-col nzSpan="12" class="right-chart">
                                <!-- 一个直线图 -->
                                <app-barChart></app-barChart>
                            </div>
                        </div>
                    </nz-tab>
                    <nz-tab class="item-tab" nzTitle="详细数据">
                        Content of Tab Pane 3
                    </nz-tab>
                    <nz-tab class="item-tab" nzTitle="数据列表">
                            Content of Tab Pane 4
                        </nz-tab>
                </nz-tabset>`
            </div>
        </div>
    </div>
</div>

